tmp
**/*.out
**/*.synctex.gz
**/*.log
**/*.fls
**/*.aux
**/*.fdb_latexmk
**/*.pdf
**/*.symvers.cmd
**/*.order.cmd
**/*.mod.cmd
**/*.ko.cmd
**/*.mod.o.cmd
**/*.o.cmd
**/*.symvers
**/*.order
**/*.ko
**/*.mod
**/*.mod.c
**/*.mod.o
**/*.o
**/*.pprof
.vscode
.vagrant